<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <script src="/script/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<main role="main">
    <% include partials/navbar %>
    <div class="container-fluid">
        <div class="row">
            <%include partials/sidebar %>
            <div class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
                    <h1 class="h2">Dashboard</h1>
                </div>
                <div class="card">
                    <div class="card-header border-transparent">
                        <h3 class="card-title">Latest Orders</h3>
                    </div>
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <table class="table m-0">
                                <thead>
                                <tr>
                                    <th>No:</th>
                                    <th>Order ID</th>
                                    <th>Status</th>
                                    <th>Supplier</th>
                                    <th>Restaurant</th>
                                    <th>Customer</th>
                                </tr>
                                </thead>
                                <tbody>
                                <% if (typeof order !== 'undefined' && order.length > 0) {%>
                                    <%for(let i=0;i<order.length;i++){%>
                                        <tr>
                                            <td><%= i+1 %></td>
                                            <td><a href="/admin/order/<%=order[i]._id %>"><%=order[i]._id %></a></td>
                                            <td>
                                                <%if(order[i].status === 2){%>
                                                    <p>Waiting for confirmation of supplier </p>
                                                <%}else if(order[i].status === 3){%>
                                                    <p>Delivering</p>
                                                <%}else if(order[i].status === 5){%>
                                                    <p>Delivered</p>
                                                <%}%>
                                            </td>
                                            <% if (order[i].supplier !== null) {%>
                                                <td><%= order[i].supplier[0].name %></td>
                                            <%}else{%>
                                                <td></td>
                                            <%}%>
                                            <%for(let j=0;j<order[i].restaurant.length;j++){%>
                                                <td>
                                                    <a href="#"><li class="list-group-item"><%= order[i].restaurant[j].name %></a>
                                                </td>
                                            <%}%>
                                            <td><%= order[i].customer.name %></td>
                                        </tr>
                                    <%}%>
                                <%}%>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer clearfix">
                        <a href="/admin/orders" class="btn btn-sm btn-secondary float-right">View All Orders</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header border-transparent">
                        <h3 class="card-title">Suppliers</h3>
                    </div>
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <table class="table m-0">
                                <thead>
                                <tr>
                                    <th>No: </th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Restaurant</th>
                                    <th>Edit/Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <% if (typeof suppliersArray !== 'undefined' && suppliersArray.length > 0) {%>
                                        <%for (var i = 0; i < suppliersArray.length; i++) { %>
                                            <tr id="<%= suppliersArray[i]._id%>">
                                                <td><%= i+1 %> </td>
                                                <td><%= suppliersArray[i].name %></td>
                                                <td><%= suppliersArray[i].email %></td>
                                                <td>
                                                    <ul class="list-group">
                                                        <%for(let j=0;j<suppliersArray[i].restaurant.length;j++){%>
                                                            <a href="#"><li class="list-group-item"><%= suppliersArray[i].restaurant[j].name %></li></a>
                                                        <%}%>
                                                    </ul>
                                                </td>
                                                <td class="project-actions text-center">
                                                    <a class="" href="/admin/suppliers/<%= suppliersArray[i]._id%>">
                                                        <i class="fa fa-edit"></i>
                                                    </a>
                                                    <a class="" onclick="deleteSupplierAdmin('<%= suppliersArray[i]._id%>')">
                                                        <i class="fa fa-trash-alt"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        <%}%>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer clearfix">
                        <a href="/admin/suppliers" class="btn btn-sm btn-secondary float-right">View All Suppliers</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header border-transparent">
                        <h3 class="card-title">Restaurants</h3>
                    </div>
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <table class="table m-0">
                                <thead>
                                <tr>
                                    <th>No:</th>
                                    <th>Picture</th>
                                    <th>Name</th>
                                    <th>Address</th>
                                    <th>Edit/Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <% if (typeof RestaurantArray !== 'undefined' && RestaurantArray.length > 0) {%>
                                        <%for (var i = 0; i < RestaurantArray.length; i++) { %>
                                            <tr id="<%=RestaurantArray[i]._id%>">
                                                <% if(RestaurantArray[i].status === true) {%>
                                                    <td><%= i+1 %></td>
                                                    <td><img src="../images/<%= RestaurantArray[i].image%>" style="width: 50px;"></td>
                                                    <td><%= RestaurantArray[i].name %></td>
                                                    <td><%= RestaurantArray[i].address %></td>
                                                    <td class="project-actions text-center">
                                                        <a class="" href="/admin/restaurants/<%= RestaurantArray[i]._id%>">
                                                            <i class="fa fa-edit"></i>
                                                        </a>
                                                        <a class="" onclick="deleteRestaurant('<%= RestaurantArray[i]._id%>')">
                                                            <i class="fa fa-trash-alt"></i>
                                                        </a>
                                                    </td>
                                                <%}%>
                                            </tr>
                                        <%}%>
                                    <%}%>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer clearfix">
                        <a href="/admin/restaurants" class="btn btn-sm btn-secondary float-right">View All Restaurants</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>
