<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Food</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <script src="/script/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
<main role="main">
    <% include partials/navbar %>
    <div class="container-fluid">
        <div class="row">
            <%include partials/sidebar %>
            <div class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
                    <h1 class="h2">Dashboard</h1>
                </div>
                <div class="card">
                    <div class="card-header border-transparent">
                        <h3 class="card-title">Food</h3>
                    </div>
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <table class="table m-0">
                            <thead>
                            <tr>
                                <th>Restaurant</th>
                                <th>Item</th>
                                <th>Picture</th>
                                <th>Price</th>
                                <th>Type</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% if (typeof food !== 'undefined' && food.length > 0) {%>
                                <%for(let i=0;i < food.length;i++){%>
                                    <tr id="<%= food[i]._id %>">
                                        <td><%= food[i].restaurant.name %></td>
                                        <td><a href="#"><%= food[i].name%></a></td>
                                        <td><img src="../images/<%= food[i].picture%>" style="width: 50px;"></td>
                                        <td><%= food[i].price%></td>
                                        <td><%= food[i].type.name%></td>
                                        <td class="project-actions text-right">
                                            <a class="btn btn-primary btn-sm" href="/admin/food/<%= food[i]._id%>">
                                                <i class="fa fa-folder">
                                                </i>
                                                View
                                            </a>
                                            <a class="btn btn-primary btn-sm" href="#" onclick="deleteFoodAdmin('<%= food[i]._id%>');">
                                                <i class="fa fa-folder">
                                                </i>
                                                Delete
                                            </a>
                                        </td>
                                    </tr>
                                <%}}%>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</main>
</body>
</html>
