<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="/stylesheets/style.css" rel="stylesheet">
    <!-- Fontawesome-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- Fontawesome-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
<main role="main">
    <% include partials/navbar %>
    <div class="container-fluid">
        <div class="row">
            <%include partials/sidebar %>
            <div class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 ">
                    <h1 class="h2">Dashboard</h1>
                </div>
                <div class="card" style="border: 1px solid orange;">
                    <div class="card-body" style="border: 1px solid orange;">
                        <% for(let i=0;i<restaurant.length;i++){ %>
                        <div class="card-header">
                            <h3 class="card-title"><%= restaurant[i].name  %></h3>
                        </div>
                        <div class="card-body">
                            <div class="e-profile">
                                <div class="tab-content pt-3">
                                    <div class="tab-pane active">
                                        <div class="input-group">
                                            <div id="googleMap" class="form-control " style=" position: relative; overflow: hidden; width: 100%; margin: 5px; height: 400px;"></div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label>Address</label>
                                                    <p class="form-control"><%= restaurant[i].address %> </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label>Email</label>
                                                    <p class="form-control"><%= restaurant[i].email %> </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <%}%>
                       <div class="col-12 col-lg-6 ml-3">
                           <div class="row">
                               <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                   Edit restaurant
                               </button>
                               <div class="input-group collapse mt-3" id="collapseExample">
                                   <div class="form-group">
                                       <form action="" method="post">
                                           <label><%=restaurant[0].name%></label>
                                           <input  class="form-control" type="name"
                                                  id="name"
                                                  name="name"
                                                  class="form-control"
                                                  placeholder="Restaurant name">
                                           <input type="email"
                                                  id="email"
                                                  name="email"
                                                  class="form-control"
                                                  placeholder="Restaurant email">
                                           <input type="text"
                                                  id="type"
                                                  name="type"
                                                  class="form-control"
                                                  placeholder="Restaurant type">
                                           <select id="restaurantStatus" name="restaurantStatus" class="form-control select2" style="width: 100%;">
                                               <option value="" disabled selected>Status</option>
                                               <option  name="restaurantID" value="true">Enabled</option>
                                               <option  name="restaurantID" value="false">Disabled</option>
                                           </select>
                                           <input type="submit" class="btn btn-primary">
                                       </form>
                                   </div>
                               </div>
                           </div>
                       </div>
                    </div>
                    <div class="card-body" style="border: 1px solid orange;">
                        <div class="card-header">
                            <h3 class="card-title">DostavljaÄi</h3>
                        </div>
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>No:</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Address</th>
                                    <th>Status</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <% for(let j=0;j<supplier.length;j++){%>
                                    <tr>
                                        <td><%=j+1%></td>
                                        <td><%= supplier[j].name%></td>
                                        <td><%= supplier[j].email%></td>
                                        <td><%= supplier[j].s_address%></td>
                                        <td><%= supplier[j].status%></td>
                                        <td class="project-actions text-right">
                                            <a class="btn btn-primary btn-sm" href="/admin/suppliers/<%= supplier[j]._id%>">
                                                <i class="fa fa-folder">
                                                </i>
                                                View
                                            </a>

                                        </td>
                                    </tr>
                                <%}%>
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>