<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="/stylesheets/style.css" rel="stylesheet">
    <!-- Fontawesome-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- Fontawesome-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
<main role="main">
    <% include partials/navbar %>
    <div class="container-fluid">
        <div class="row">
            <%include partials/sidebar %>
            <div class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 ">
                    <h1 class="h2">Dashboard</h1>
                </div>
                <div class="card" style="border: 1px solid orange;">
                    <div class="card-body" style="border: 1px solid orange;">
                        <div class="card-header">
                            <% for(let i=0;i<supplier.length;i++){%>
                            <h3 class="card-title">Suppliers</h3>
                        </div>
                        <div class="card-body">
                            <div class="e-profile">
                                <div class="tab-content pt-3">
                                    <div class="tab-pane active">
                                        <div class="row">
                                            <div class="col">
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <label>Name</label>
                                                            <p class="form-control" ><%= supplier[i].name%></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <label>Email</label>
                                                            <p class="form-control"> <%= supplier[i].email%></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <label>Address</label>
                                                            <p class="form-control"><%= supplier[i].s_address%></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <label>Restaurants</label>
                                                            <% for(let j=0;j<supplier[i].restaurant.length;j++){%>
                                                                <p class="form-control"><a href="#" ><%= supplier[i].restaurant[j].name %></a></p>
                                                            <%}%>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 col-lg-6 ml-3">
                                                <div class="row">
                                                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                                        Add restaurant
                                                    </button>
                                                    <div class="input-group collapse mt-3" id="collapseExample">
                                                        <div class="form-group">
                                                            <form action="/admin/add-restaurant-suppliers" method="post">
                                                                <label>Restaurant</label>
                                                                <select id="restaurantName" name="restaurantID" class="form-control select2" style="width: 100%;" placehp>
                                                                    <option value="" disabled selected>Restaurant</option>
                                                                    <% if (typeof restaurantArray !== 'undefined' && restaurantArray.length > 0) {%>
                                                                        <%for (var j = 0; j < restaurantArray.length; j++) { %>
                                                                            <option  name="restaurantID" value="<%= restaurantArray[j]._id%>"><%= restaurantArray[j].name %></option>
                                                                        <%}%>
                                                                    <%}%>
                                                                </select>
                                                                <input type="text" name="supplierID" value="<%= supplier[i]._id%>" hidden>
                                                                <div class="col mt-2">
                                                                    <input class="btn btn-primary" type="submit">
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <%}%>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>
