<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top"style="border-bottom: 1px solid orange;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#"><%= user.name %></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Jela</a>
                <div class="dropdown-menu" style="border: 1px solid orange;">
                    <%for(let k=0;k<foodtype.length;k++){%>
                        <a class="dropdown-item"href="#"> <%= foodtype[k].name%> </a>
                    <%}%>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Restorani/Gradovi</a>
                <div class="dropdown-menu" style="border: 1px solid orange;">
                    <%for(let k=0;k<restaurant.length;k++){%>
                        <a class="dropdown-item"href="/users/restaurant/<%= restaurant[k]._id %>"> <%= restaurant[k].name%> </a>
                    <%}%>
                </div>
            </li>

        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="modal" data-target="#exampleModalLong" ><i class="fa" id="kosara" style="font-size:24px">&#xf07a;</i>
                    <span class='badge badge-warning' id='lblCartCount'><%= order_len %></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/users/logout"><i class="fa fa-user"></i> Logout</a>
            </li>
        </ul>

    </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Your order</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <% if (typeof order !== 'undefined' && order.length > 0) {%>
                <form action="/users/send-order/" method="post">
                    <%}%>
                    <% var orders = order%>
                    <input type="hidden" value="<%=orders%>" name="ovo">
                <div class="modal-body">
                    <!-- Table row -->
                    <div class="row">
                        <div class="col-xs-12 table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Qty</th>
                                    <th>Product</th>
                                    <th>Description</th>
                                    <th>Restaurant</th>
                                    <th>Subtotal</th>
                                </tr>
                                </thead>
                                <tbody>
                                <% let total=Number(0);%>
                                <%for(let s=0;s<order.length;s++){%>
                                <%total+=Number(order[s].food[0].price)%>
                                <input type="hidden" name="ovo" value="<%=order%>">
                                    <tr>
                                        <td name="kolicina"><%= order[s].quantity %></td>
                                        <td name="naziv"><%= order[s].food[0].name %></td>
                                        <td><%= order[s].food[0].description %></td>
                                        <td><%= order[s].restaurant[0].name %></td>
                                        <td class="text-center"><%= order[s].food[0].price %></td>
                                    </tr>
                                <%}%>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                    <!-- /.col -->
                    <div class="col-xs-6">
                        <div class="table-responsive">
                            <table class="table">
                                <tr>
                                    <th>Total:</th>
                                    <td class="text-right"><%= total %></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <!-- /.col -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $('.dropdown-toggle').dropdown();
</script>

