<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Order</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <script src="/script/script.js"></script>
    <script src="/script/maps.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<main role="main">
    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top"style="border-bottom: 1px solid orange;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/users/dashboard"><i class="fa fa-home"></i> Dashboard</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#" data-toggle="modal" data-target="#exampleModalLong" ><i class="fa" id="kosara" style="font-size:24px">&#xf07a;</i>
                        <span class='badge badge-warning' id='lblCartCount'></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users/logout"><i class="fa fa-user"></i> Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
            <h1 class="h2">Dashboard</h1>
        </div>
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Order</h3>
            </div>
            <div class="card-body" style="border-top: 1px solid orange;">
                <form action="/users/send-order" method="post">
                    <div class="container">
                        <div class="container__text">
                            <div class="container__image" style="width: 100%!important;">
                                <label>Customer Name</label>
                                <p class="form-control" ><%= user.name%></p>
                                <label>Customer Email</label>
                                <p class="form-control"> <%= user.email%></p>
                                <label>Delivery Address</label>
                                <div class="input-group mr-3">
                                    <input type="text"
                                           id="address"
                                           name="address"
                                           class="form-control"
                                           placeholder="Address"
                                           value="<%= user.address %>">
                                    <div class="input-group-append" >
                                        <div class="input-group-text">
                                            <span class="fa fa-map-marker" id="dugme"></span>
                                        </div>
                                        <div class="input-group-text">
                                            <span class="fa fa-search" id="submit"></span>
                                        </div>
                                        <input type="hidden" id="koordinate" name="koordinate" value="<%= user.koordinate %>">
                                    </div>
                                    <div class="input-group">
                                        <label for="inputEmail3 " class="col-sm-2 col-form-label mr-2 "></label>
                                        <div id="googleMap" class="form-control " style="position: relative; overflow: hidden; width: 100%; margin: 5px; height: 300px; "></div>
                                    </div>
                                </div>
                                <label>Delivery Time</label>
                                <input type="datetime-local" id="vrijeme" name="vrijeme" class="form-control select2" style="width: 100%;">
                                <label>Payment method</label>
                                <select id="placanje"  name="placanje" class="form-control select2" style="width: 100%;">
                                    <option value="" disabled selected>Payment method</option>
                                    <option  name ="" value="kartica">Card</option>
                                    <option  name ="" value="gotovina">Cash</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="container__text">
                            <div class="card">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th></th>
                                            <th>Food</th>
                                            <th>Quantity</th>
                                            <th>Price</th>
                                            <th>Total</th>
                                            <th>Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <% let totalPrice = 0; %>
                                        <% if (typeof order !== 'undefined' && order.length >= 0) {%>
                                            <% for(let i=0;i<order.length;i++){%>
                                                <% for(let j=0;j<order[i].orders.length;j++){%>
                                                    <tr id="<%= order[i].orders[j]._id%>">
                                                        <td><p><%= j+1 %> . </p></td>
                                                        <td><p><%= order[i].orders[j].food[0].name%></p>
                                                        </td>
                                                        <td><p> 1</p>
                                                        </td>
                                                        <td><p> <%= order[i].orders[j].food[0].price%> KM </p>
                                                        </td>
                                                        <td>
                                                            <p>
                                                                <% let total=0;
                                                                    total+=Number(order[i].orders[j].food[0].price) %>
                                                                <%= total %>KM
                                                                <% totalPrice += total%>
                                                            </p>
                                                        </td>
                                                        <td class="project-actions">
                                                            <a class="btn btn-danger btn-sm" onclick="deleteFromOrder('<%= order[i].orders[j]._id%>','<%= order[i].orders[j].food[0]._id%>');">
                                                                <i class="fa fa-trash">
                                                                </i>
                                                                Delete
                                                            </a>
                                                        </td>
                                                    </tr>
                                                <%}%>
                                        <% }} %>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th>Total: </th>
                                            <th><p><%= totalPrice %> KM </p>
                                                <button type="submit" class="btn btn-success">Submit</button>
                                            </th>
                                        </tr>
                                        </tbody>
                                    </table>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
<script>
    datum();
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfOHwnQrFUSJ1CSq0-z2-mvUyeZM10ADg&callback=korisnikMap"></script>
</body>
</html>
