<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <script src="/script/maps.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
<main role="main">
    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top"style="border-bottom: 1px solid #F9723D;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/users/dashboard"><i class="fa fa-home"></i> Dashboard</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/users/order" ><i class="fa" id="kosara" style="font-size:24px">&#xf07a;</i>
                        <span class='badge badge-warning' id='lblCartCount'>
                       </span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users/logout"><i class="fa fa-user"></i> Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
            <h1 class="h2">Dashboard</h1>
        </div>
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">My profile : <%= user.name %></h3>
            </div>
            <div class="card-body" style="border-top: 1px solid #F9723D;">
                <form action="/users/profile" method="post" enctype="multipart/form-data">
                    <div class="container">
                        <div class="container__text">
                            <div class="container__image" style="width: 100%!important;">
                                <div class="container__image" style="margin:0 auto;">
                                    <input type="hidden" name="userID" value="<%= user._id%>">
                                    <input type="image" class="container__image"
                                           src="../images/<%= user.picture%>"
                                           name="img">
                                    <input type="file" accept="image/*" class="container__image"
                                           name="picture">
                                </div>
                                <div class="container__text">
                                    <label>Name</label>
                                    <input type="text"
                                           id="name"
                                           name="name"
                                           class="form-control"
                                           placeholder="Name"
                                           value="<%= user.name%>">
                                    <label>Address</label>
                                    <div class="input-group mr-3">
                                        <input type="text"
                                               id="address"
                                               name="address"
                                               class="form-control"
                                               placeholder="Address"
                                               value="<%= user.address %>">
                                        <div class="input-group-append" >
                                            <div class="input-group-text">
                                                <span class="fa fa-map-marker" id="dugme"></span>
                                            </div>
                                            <div class="input-group-text">
                                                <span class="fa fa-search" id="submit"></span>
                                            </div>
                                            <input type="hidden" id="koordinate" name="koordinate" value="<%= user.koordinate %>">
                                        </div>
                                        <div class="input-group">
                                            <label for="inputEmail3 " class="col-sm-2 col-form-label mr-2 "></label>
                                            <div id="googleMap" class="form-control " style="position: relative; overflow: hidden; width: 100%; margin: 5px; height: 300px; "></div>
                                        </div>
                                    </div>
                                    <label>Email</label>
                                    <input type="email"
                                           id="email"
                                           name="email"
                                           class="form-control"
                                           value="<%= user.email %>">
                                    <label>Change Password</label>
                                    <input type="password"
                                           id="password"
                                           name="password"
                                           class="form-control"
                                           value="">
                                    <p class="project-actions text-right">
                                        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Orders</button>
                                        <button type="submit" class="btn btn-success">Submit</button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="collapse mt-3" id="collapseExample">
                    <div class="container">
                        <div class="container__text">
                            <div class="card">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Order date</th>
                                            <th>Restaurant</th>
                                            <th>Delivery address</th>
                                            <th>Food</th>
                                            <th>Price</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <%for(let i=0;i<orders.length;i++){%>
                                        <tr>
                                            <td><%=i+1%></td>
                                            <td><%= orders[i].date%></td>
                                            <td><%= orders[i].restaurant[0].name %></td>
                                            <td><%= orders[i].delivery_address%></td>
                                            <td><%let total = 0;%>
                                                <ul class="list-group">
                                                    <%for(let j=0;j<orders[i].orders.length;j++){%>
                                                    <li><%= orders[i].orders[j].food[0].name%></li>
                                                    <%total +=orders[i].orders[j].food[0].price %>
                                                    <%}%>
                                                </ul>
                                            </td>
                                            <td><%= total %> KM</td>
                                        </tr>
                                    <%}%>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfOHwnQrFUSJ1CSq0-z2-mvUyeZM10ADg&callback=korisnikMap"></script>
</body>
</html>

