<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <script src="/script/maps.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- Fontawesome-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
<div class="pocetak">
    <div class="naslovna-login-register">
        <div class="register-box">
            <div class="card card-outline card-primary">
                <div class="card-header text-center">
                    <a href="" class="h1"><b>Register</b></a>
                </div>
                <div class="card-body">
                    <p class="login-box-msg">Register a new membership</p>
                <% include ./partials/messages %>
                <form action="/users/register" method="POST">

                    <div class="input-group mr-3 mb-3">
                        <label for="name" class="col-sm-2 col-form-label mr-2">Full name</label>
                        <input type="name"
                               id="name"
                               name="name"
                               class="form-control"
                               placeholder="Full name"
                               value="<%= typeof name != 'undefined' ? name : '' %>">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fa fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mr-3">
                        <label for="inputEmail3 " class="col-sm-2 col-form-label mr-2 ">Address</label>
                        <input type="text"
                               id="address"
                               name="address"
                               class="form-control"
                               placeholder="Address"
                               value="<%= typeof address != 'undefined' ? address : '' %>">
                        <div class="input-group-append" >
                            <div class="input-group-text">
                                <span class="fa fa-map-marker" id="dugme"></span>
                            </div>
                            <div class="input-group-text">
                                <span class="fa fa-search" id="submit"></span>
                            </div>
                            <input type="hidden" id="koordinate" name="koordinate">
                        </div>
                        <div class="input-group">
                            <label for="inputEmail3 " class="col-sm-2 col-form-label mr-2 "></label>
                            <div id="googleMap" class="form-control " style="position: relative; overflow: hidden; width: 100%; margin: 5px; height: 200px; "></div>

                        </div>
                    </div>
                    <div class="input-group mb-3 ">
                        <label for="inputEmail3 " class="col-sm-2 col-form-label mr-3 ">Email</label>
                        <input type="email"
                               id="email"
                               name="email"
                               class="form-control " placeholder="Enter Email"
                               value="<%= typeof email != 'undefined' ? email : '' %>">
                        <div class="input-group-append ">
                            <div class="input-group-text ">
                                <span class="fa fa-envelope "></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3 ">
                        <label for="inputEmail3 " class="col-sm-2 col-form-label mr-3 ">Number</label>
                        <input type="number"
                               id="number"
                               name="number"
                               class="form-control"
                               placeholder="Number"
                               value="<%= typeof number != 'undefined' ? number : '' %>">
                        <div class="input-group-append ">
                            <div class="input-group-text ">
                                <span class="fa fa-phone "></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3 ">
                        <label for="inputEmail3 " class="col-sm-2 col-form-label mr-3 ">Password</label>
                        <input type="password"
                               id="password"
                               name="password"
                               class="form-control"
                               placeholder="Password"
                               value="<%= typeof password != 'undefined' ? password : '' %>">
                        <div class="input-group-append ">
                            <div class="input-group-text ">
                                <span class="fa fa-lock "></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3 ">
                        <label for="inputEmail3 " class="col-sm-2 col-form-label mr-3 ">Retype</label>
                        <input type="password"
                               id="password2"
                               name="password2"
                               class="form-control"
                               placeholder="Retype password"
                               value="<%= typeof password2 != 'undefined' ? password2 : '' %>">
                        <div class="input-group-append ">
                            <div class="input-group-text ">
                                <span class="fa fa-lock "></span>
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md"></div>
                        <div class="col-6 ">
                            <button type="submit " class="btn btn-primary btn-block ">Register</button>
                        </div>
                    </div>
                </form>
                    <p class="lead mt-4">
                        Have Account? <a href="/users/login">Login</a>
                    </p>
            </div>
        </div>
    </div>
    <div class="naslovna2 ">
        <p></p>
    </div>
</div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfOHwnQrFUSJ1CSq0-z2-mvUyeZM10ADg&callback=myMap"></script>
</body>
</html>
