<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%=rest[0].name%> </title>
    <script src="/script/script.js"></script>
    <script src="/script/maps.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
<% include partials/navigation %>
<div class="restoran-naslovna">
    <div class="restoran-img">
        <img src="../../images/<%=rest[0].image%>" >
    </div>
    <div class="restoran-map">
        <div id="googleMap" style=""></div>
        <input type="hidden" id="address" value="<%= rest[0].address %>">
        <input type="hidden" id="restaurantName" value="<%= rest[0].name %>">
        <input type="hidden" id="koordinateRestorana" name="koordinate" value="<%= rest[0].koordinate%>">
    </div>
</div>
<div class="moja " style=" background:rgba(0, 0, 0, 0.5); ">
    <section class="sticky-top offer-dedicated-nav bg-white border-top-0 shadow-sm ">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="nav">
                        <li class="nav-item mr-auto" style="border: 2px solid #F9723D;">
                            <a class="nav-link" href="#"><%= rest[0].name %></a>
                        </li>

                        <%for(let t=0;t<tip.length;t++){%>
                            <li class="nav-item">
                                <a class="nav-link" href="#<%= tip[t] %>" role="tab" aria-controls="pills-order-online" aria-selected="true"><%= tip[t] %></a>
                            </li>
                        <%}%>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <div class="album">
        <%for(let t=0;t<tip.length;t++){%>
            <h1 class="text-center" style="color:#F9723D;" id="<%= tip[t] %>"><%= tip[t] %></h1>
            <div class="container">
                <div class="row">
                    <% for(let i=0;i<food.length;i++){%>
                        <%if(food[i].type.name === tip[t]){%>
                                <div class="col-md-4" style=" margin-top: 35px;">
                                    <div class="card" style="border:1px solid #F9723D;">
                                        <img class="bd-placeholder-img card-img-top" style="border-bottom:1px solid #F9723D;"width="200" height="200" src="../../images/<%= food[i].picture%>">
                                        <div class="card-body">
                                            <h5 class="card-text" style="color: #F9723D;font-weight: bold;"><%= food[i].name%></h5>
                                            <p class="card-text"><%=food[i].description%></p>
                                            <div class="d-flex justify-content-between">
                                                <h6 class="card-price text-left" style="color: #F9723D;font-weight: bold;"><%=food[i].price%><span class="period">KM</span></h6>
                                                <div class="btn-group text-right">
                                                    <a class="btn btn-success btn-sm" href="javascript:void(0)"  onclick="addToCart('<%= food[i]._id%>','<%= rest[0]._id%>');">
                                                        <i class="fa fa-plus">
                                                        </i>
                                                        Add to cart
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <%}%>
                        <%}%>
                </div>
            </div>
        <%}%>
    </div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfOHwnQrFUSJ1CSq0-z2-mvUyeZM10ADg&callback=restoranMap"></script>
</body>
</html>

