<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="/stylesheets/style.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body>
<% include partials/navigation %>
<div class="moja " style=" background:rgba(0, 0, 0, 0.5); ">
    <div class="naslovna" style="background:none !important;">
        <div class="naslovna1">
            <div class="naslovna-left">
                <h1 style="color: #ffffff;text-shadow: 2px 2px #F9723D;">Search</h1>
                <div>
                    <form action="/users/search" method="Post">
                        <div class="input-group">
                            <input type="text" name="nazivArtikla" class="form-control form-control-lg " placeholder="Type your keywords here ">
                            <div class="input-group-append ">
                                <button type="submit " class="input-group-text ">
                                    <i class=" fa fa-search "></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="naslovna2 ">
        </div>
    </div>
    <div class="album">
            <h1 class="text-center" style="color:#F9723D;">Sale</h1>
            <div class="container">
                <div class="row">
                    <% for(let i=0;i<sale.length;i++){%>
                        <div class="col-md-4" style=" margin-top: 35px;">
                            <div class="card" style="border:1px solid #F9723D;height:100%;">
                                <img class="bd-placeholder-img card-img-top" style="border-bottom:1px solid #F9723D;"width="450" height="300" src="../../images/<%= sale[i].picture%>">
                                <div class="card-body">
                                    <h5 class="card-text" style="color: #F9723D;font-weight: bold;"><%= sale[i].food.name%></h5>
                                    <p class="card-text"><%=sale[i].food.description%></p>
                                    <div class="d-flex justify-content-between">
                                        <a href="/users/restaurant/<%= sale[i].restaurant._id%>"><h5 class="card-text" style="font-weight: bold;"><%= sale[i].restaurant.name%></h5></a>
                                        <h6 class="card-price text-left" style="color: #F9723D;font-weight: bold;"><%=sale[i].salePrice%><span class="period">KM</span></h6>
                                        <div class="btn-group text-right">
                                            <a class="btn btn-success btn-sm" href="#"  onclick="addToCart('<%= sale[i].food._id%>','<%= sale[i].restaurant._id%>');">
                                                <i class="fa fa-plus">
                                                </i>
                                                Add to cart
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <%}%>
                </div>
            </div>
    </div>
</div>

<script>

    function addToCart(id,restaurantID) {
        $.ajax({
            url: "/users/add-order/" + id + "/restaurant/" + restaurantID,
            method: "POST",
            success: function (result) {
            }
        })
    }
</script>
</body>
</html>

