<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Confirm order</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="/stylesheets/style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <!-- Fontawesome-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body>
<main role="main">
    <% include partials/navigation %>
    <div class="container-fluid">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
            <h1 class="h2">Dashboard</h1>
        </div>
        <div class="card">
            <div class="card-body" style="width: 100%;border-top: 1px solid orange;">
                <div class="card-header">
                    <h3 class="card-title">Order</h3>
                </div>
                <form action="/supplier/order-confirm/<%= order._id%>/<%= order.customer._id%>" method="post">
                <div class="container">
                    <div class="container__image" style="width: 100%!important;">
                        <label>Customer Name</label>
                        <p class="form-control" ><%= order.customer.name%></p>
                        <label>Customer Email</label>
                        <p class="form-control"> <%= order.customer.email%></p>
                        <label>Customer Address</label>
                        <p class="form-control" style="height: 80px;"><%= order.customer.address%></p>
                        <label>Customer Status</label>
                        <%if(order.customer.status === 1){ %>
                            <p class="form-control">Active</p>
                        <%}%>
                    </div>
                    <div class="container__image" style="width: 100%!important;">
                        <label>Restaurant</label>
                        <p class="form-control" ><%= order.restaurant[0].name%></p>
                        <label>Customer Email</label>
                        <p class="form-control"> <%= order.restaurant[0].email%></p>
                        <label>Customer Address</label>
                        <p class="form-control" style="height: 80px;"><%= order.restaurant[0].address%></p>
                    </div>
                </div>
                <div class="container" >
                    <% let totalPrice = 0;%>
                    <% for(let j=0;j<order.orders.length;j++){%>
                        <div class="container__image">
                            <label>Order</label>
                            <p class="form-control" ><%= order.orders[j].food[0].name%></p>
                            <label>Quantity</label>
                            <p class="form-control"> <%= order.orders[j].quantity%></p>
                            <label>Price</label>
                            <p class="form-control"> <%= order.orders[j].food[0].price%></p>
                            <label>Total</label>
                            <%let total = 0;%>
                            <p class="form-control">
                                <%= total+=Number(order.orders[j].food[0].price*((order.orders[j].quantity)))%>
                            </p>
                            <% totalPrice+=total%>
                        </div>
                    <%}%>
                    <div class="container__image">
                        <label>Total Price</label>
                            <p class="form-control">Total Price : <%= totalPrice%> KM </p>
                            <input type="hidden" name="newAddress"value="<%= order.customer.address%>">
                            <input type="hidden" name="newKoordinate" value="<%= order.customer.koordinate%>">
                        <p class="project-actions text-right mt-3"><button type="submit" class="btn btn-success">Submit</button></p>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
</main>
</body>
</html>
