<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="/stylesheets/style.css" rel="stylesheet">
    <script src="/script/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <!-- Fontawesome-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body>
<main role="main">
    <% include partials/navigation %>
    <div class="container-fluid">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
            <h1 class="h2">Dashboard</h1>
        </div>
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Orders</h3>
            </div>
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table m-0">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Restaurant</th>
                                <th>Restaurant Address</th>
                                <th>Customer Address</th>
                                <th>Items</th>
                                <th>Price</th>
                                <th>Date</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                        <% if (typeof orders !== 'undefined' && orders.length > 0) {%>
                            <%for(let i=0;i<orders.length;i++){%>
                                <tr>
                                    <td><%= i+1 %></td>
                                    <td><%= orders[i].restaurant[0].name%></td>
                                    <td><%= orders[i].restaurant[0].address%></td>
                                    <td><%= orders[i].customer.address %></td>
                                    <td><% let total=Number(0);%>
                                        <ul class="list-group">
                                            <% for(let j=0;j<orders[i].orders.length;j++){%>
                                                <li><%= orders[i].orders[j].food[0].name%> : <%= orders[i].orders[j].quantity %> </li>

                                                <%total+=Number(orders[i].orders[j].food[0].price* ((orders[i].orders[j].quantity)))%>
                                            <%}%>
                                        </ul>
                                    </td>
                                    <td> <%= total %>  KM</td>
                                    <% let datum = ''+ orders[i].date %>
                                    <td><%= datum.slice(0,24)%></td>
                                    <td class="project-actions ">
                                        <a class="btn btn-primary btn-sm" href="/supplier/order-confirm/<%=orders[i]._id%>">
                                            <i class="fa fa-folder">
                                            </i>
                                            View/Confirm
                                        </a>
                                    </td>
                                </tr>
                            <%}%>
                        <%}%>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Orders/Active(now)</h3>
            </div>
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table m-0">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Restaurant</th>
                            <th>Restaurant Address</th>
                            <th>Customer Address</th>
                            <th>Items</th>
                            <th>Price</th>
                            <th>Date</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <% if (typeof ordersA !== 'undefined' && ordersA.length > 0) {%>
                            <%for(let i=0;i<ordersA.length;i++){%>
                                    <tr id="<%=ordersA[i]._id%>">
                                        <td><%= i+1 %></td>
                                        <td><%= ordersA[i].restaurant[0].name%></td>
                                        <td><%= ordersA[i].restaurant[0].address%></td>
                                        <td><%= ordersA[i].customer.address %></td>
                                        <td><% let total=Number(0);%>
                                            <ul class="list-group">
                                                <% for(let j=0;j<ordersA[i].orders.length;j++){%>
                                                    <li><%= ordersA[i].orders[j].food[0].name%> : <%= ordersA[i].orders[j].quantity %> </li>
                                                    <%total+=Number(ordersA[i].orders[j].food[0].price* ((ordersA[i].orders[j].quantity)))%>
                                                <%}%>
                                            </ul>
                                        </td>
                                        <td> <%= total %>  KM</td>
                                        <% let datum = ''+ ordersA[i].date %>
                                        <td><%= datum.slice(0,24)%></td>
                                        <td class="project-actions ">
                                            <a class="btn btn-primary btn-sm" onclick="endOrder('<%=ordersA[i]._id%>')" >
                                                End order
                                            </a>
                                        </td>

                                    </tr>
                                <%}%>
                        <%}%>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Orders/Inactive</h3>
            </div>
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table m-0">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Restaurant</th>
                            <th>Restaurant Address</th>
                            <th>Customer Address</th>
                            <th>Items</th>
                            <th>Price</th>
                            <th>Date</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <% if (typeof ordersN !== 'undefined' && ordersN.length > 0) {%>
                            <%for(let i=0;i<ordersN.length;i++){%>
                                <tr>
                                    <td><%= i+1 %></td>
                                    <td><%= ordersN[i].restaurant[0].name%></td>
                                    <td><%= ordersN[i].restaurant[0].address%></td>
                                    <td><%= ordersN[i].customer.address %></td>
                                    <td><% let total=Number(0);%>
                                        <ul class="list-group">
                                            <% for(let j=0;j<ordersN[i].orders.length;j++){%>
                                                <li><%= ordersN[i].orders[j].food[0].name%> : <%= ordersN[i].orders[j].quantity %> </li>

                                                <%total+=Number(ordersN[i].orders[j].food[0].price* ((ordersN[i].orders[j].quantity)))%>
                                            <%}%>
                                        </ul>
                                    </td>
                                    <td> <%= total %>  KM</td>
                                    <% let datum = ''+ ordersN[i].date %>
                                    <td><%= datum.slice(0,24)%></td>
                                </tr>
                            <%}%>
                        <%}%>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>
