<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body>
<main role="main">
    <% include partials/navigation %>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 ">
                    <h1 class="h2">Dashboard</h1>
                </div>
                <div class="card" style="border: 1px solid orange;">
                    <div class="card-body" style="border-top: 1px solid orange;">
                            <div class="card-header">
                                <h3 class="card-title">My profile : <%= supplier.name %></h3>
                            </div>
                            <div class="card-body">
                                <div class="e-profile">
                                    <div class="tab-content pt-3">
                                        <div class="tab-pane active">
                                            <form action="/supplier/profile" method="post" enctype="multipart/form-data">
                                                <div class="container">
                                                    <div class="container__image">
                                                        <input type="hidden" name="supplierID" value="<%= supplier._id%>">
                                                        <input type="image" class="container__image"
                                                               src="../../images/<%= supplier.picture%>"
                                                               id="picture"
                                                               name="img">
                                                        <input type="file" accept="image/*" class="container__image"
                                                               id="picture"
                                                               name="picture">
                                                    </div>
                                                    <div class="container__text">
                                                        <label>Name</label>
                                                        <input type="text"
                                                               id="name"
                                                               name="name"
                                                               class="form-control"
                                                               placeholder="Name"
                                                               value="<%= supplier.name%>">
                                                        <label>Address</label>
                                                        <input type="text"
                                                               id="address"
                                                               name="address"
                                                               class="form-control"
                                                               placeholder="Address"
                                                               value="<%= supplier.s_address%>">
                                                        <label>Email</label>
                                                        <input type="email"
                                                               id="email"
                                                               name="email"
                                                               class="form-control"
                                                               value="<%= supplier.email %>">
                                                        <label>Change Password</label>
                                                        <input type="password"
                                                               id="password"
                                                               name="password"
                                                               class="form-control"
                                                               value="">
                                                        <p class="project-actions text-right">
                                                            <button type="submit" class="btn btn-success">Submit</button>
                                                        </p>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>
