<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Suppliers</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <script src="/script/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body>
<main role="main">
    <% include partials/navbar %>
    <div class="container-fluid">
        <div class="row">
            <%include partials/sidebar %>
            <div class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3">
                    <h1 class="h2">Dashboard</h1>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Suppliers</h3>
                    </div>
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <table class="table m-0">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Adress</th>
                                    <th>Last modified</th>
                                    <th>Edit/Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                <% if (typeof suppliers !== 'undefined' && suppliers.length >= 0) {%>
                                <%for (var i = 0; i < suppliers.length; i++) { %>
                                    <tr id="<%=suppliers[i]._id%>">
                                        <td><%= i+1 %> </td>
                                        <td><%= suppliers[i].name %></td>
                                        <td><%= suppliers[i].email %></td>
                                        <td><%= suppliers[i].s_address %></td>
                                        <td><%= suppliers[i].modified %></td>
                                        <td class="project-actions text-center">
                                            <a href="/adminRestaurant/suppliers/<%= suppliers[i]._id%>"><i class="fa fa-edit"></i></a>
                                            <a onclick="deleteSupplier('<%= suppliers[i]._id%>');"><i class="fa fa-trash"></i></a>
                                        </td>
                                    </tr>
                                <%}%>
                                <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

</body>
</html>
